# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Flask
instance/

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
static/uploads/

# Database (if using SQLite)
*.db

# Logs
*.log